<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineList - Iniciar Sesión</title>
    <script src="../components/LoginView.js"></script>

    <style>
        body {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000;
            background-image: radial-gradient(circle at center, #001f3f 0%, #000 100%);
            overflow: hidden;
        }
    </style>
</head>
<body>
    <login-view></login-view>
</body>
</html>