<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineList - Registro</title>
    <script src="../components/RegisterView.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #000;
            background-image: radial-gradient(circle at 20% 20%, #001a2e 0%, #000 100%);
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }
    </style>
</head>
<body>

    <register-view></register-view>

</body>
</html>